* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    box-sizing: border-box;
}

img {
    width: 130px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 10vh;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 0 0.5px 0;
    top: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.menu-btn {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

}

.nav-links a,
span {
    color: #666666;
    text-decoration: none;
}

.nav-links a:hover {
    color: #387ed1;
}

.links {
    display: inline;
}


.box-1 {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom: 120px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.box-1 img {
    width: 80%;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.p1 {
    font-size: 44px;
    font-weight: bolder;
    color: #424242;
}

.p2 {
    font-size: 20px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 15px;
}

.box-1 button {
    font-size: 20px;
    color: white;
    background-color: #387ed1;
    padding: 10px 30px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
}

.ecosystem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    column-gap: 20px;
    overflow: hidden;
}

.right img {
    max-width: 100%;
    width: auto;
}

h2 {
    font-size: 2rem;
    ;
    color: #424242;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.25rem;
    color: #424242;
}

.ecosystem-box p {
    font-size: 1rem;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 32px;
}

.ecosystem a {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #387ed1;
    text-decoration: none;
}

.right p {
    text-align: center;
}

.ecosystem a:hover {
    color: #424242;
}

.right p:hover {
    color: #424242;
}

@media screen and (max-width:800px) {
    .ecosystem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.box-2 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 6vw;
    margin-right: 6vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.box-2 img {
    width: 60%;
}
@media screen and (max-width:960px) {
        .links {
            display: none;
        }
    
        .menu-btn {
            font-size: 22px;
        }
    
        .nav-links {
            text-align: right;
            display: inline-block;
        }
    
        .box-2 img {
            width: 100%;
        }
}

.box-3{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vw;
    background-color: rgb(255, 255, 255);
}

.pricing-box img{
    width: 120px;
    position: relative;
    top: 25px;
}

.pricing-box{
    display: inline-block;
}

.pricing-box p{
    font-size: 10px;
    color: #666666;
    line-height: 16px;
    display: inline-block;
    position: relative;
    left: -25px;
}

.box-3-left p{
    font-size: 1rem;
    line-height: 1.7rem;
}

.box-3-left{
    width: 40vw;
}

#imp{
   position: relative;
   left: 0;
}
.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-wrap: wrap;
}